input {
  background: var(--color-bg);
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--color-primary);
  padding: 0 var(--padding-small);
  font-size: var(--font-size-medium);
}
