input {
  background: var(--color-bg);
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--color-primary);
  padding: 0 var(--padding-small);
  font-size: var(--font-size-medium);

  transition: all var(--animation-default);

  &:focus {
    background: var(--color-semi-bg);
  }

  &.bordered {
    border: 1px solid var(--color-primary);
  }

  &.size {
    &-sm {
      // TODO
      position: static;
    }
    &-md {
      // TODO
      position: static;
    }
    &-lg {
      // TODO
      position: static;
    }
  }

  &.padding {
    &-sm {
      // TODO
      position: static;
    }
    &-md {
      padding: var(--padding-small) var(--padding-medium);
    }
    &-lg {
      // TODO
      position: static;
    }
  }
}

label {
  // background: var(--color-bg);
  border: 1px solid var(--color-primary);
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--color-primary);
  padding: 0 var(--padding-small);
  font-size: var(--font-size-medium);

  background-color: var(--color-bg);
  // backdrop-filter: blur(5px);

  cursor: pointer;
  transition: all var(--animation-default);

  &:hover {
    background-color: var(--color-semi-bg);
  }

  &.size {
    &-sm {
      // TODO
      position: static;
    }
    &-md {
      // TODO
      position: static;
    }
    &-lg {
      // TODO
      position: static;
    }
  }

  &.padding {
    &-sm {
      // TODO
      position: static;
    }
    &-md {
      padding: var(--padding-small) var(--padding-medium);
    }
    &-lg {
      // TODO
      position: static;
    }
  }
}
