button,
a {
  text-decoration: none;
  color: var(--color-primary);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-small);
  font-size: var(--font-size-medium);
  padding: 0 var(--padding-medium);
  margin: 0;
  outline: none;

  cursor: pointer;
  background: var(--color-bg);

  transition: background 100ms ease-in;

  &:hover {
    background: var(--color-semi-bg);
  }
  border: none;
}

.size {
  &-sm {
  }
  &-md {
  }
  &-lg {
  }
}

.padding {
  &-sm {
  }
  &-md {
    padding: var(--padding-small) var(--padding-medium);
  }
  &-lg {
  }
}

.bordered {
  border: 1px solid var(--color-primary);
}

.active {
  background: var(--color-semi-primary) !important;
  color: var(--color-bg) !important;
}
