<div class="base-container">
  <h1 style="text-align: center">All posts</h1>
  @if (posts$ | async; as posts) {
    <div class="posts-grid">
      @for (post of posts.items; track post.id) {
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
        <blog-post-preview
          [id]="post.id"
          [collectionId]="post.collectionId"
          [title]="post.title"
          [briefDescription]="post.content_preview"
          [image]="post.preview"
          [postedAt]="post.created"
        ></blog-post-preview>
      }
    </div>
  }
</div>
